.ko-grid { margin-bottom: 1em; width: 25em; border: 1px solid silver; background-color:White; }
.ko-grid th { text-align: left; border: 1px solid silver; background-color: Black; color: White; cursor: pointer; }
.ko-grid th:hover { background-color: Gray; }
.ko-grid span.right-aligned { float: right; width: 20px; }
.ko-grid td, th { padding: 0.4em; }
.ko-grid tr {cursor: pointer; }
.ko-grid tr:nth-child(odd) { background-color: #DDD; }
.ko-grid tr:hover { background-color: Gray; }
.ko-grid tr.selected { background-color: Black; color: White; }
.ko-grid-pageLinks { margin-bottom: 1em; }
.ko-grid-pageLinks a { padding: 0.5em; }
.ko-grid-pageLinks a.selected { background-color: Black; color: White; }
